In [9]:
import pandas as pd

data_labelled = pd.read_excel('JSON\\CADP Dataset relabelled_25_10_2020.xlsx')
annotations = data_labelled[['folder', 'start', 'start_coord', 'end','end_coord']]
annotations['start'].replace('', np.nan, inplace=True)
annotations.dropna(subset=['start'], inplace=True)

In [11]:
print(len(annotations))
annotations.head()

1416

   folder  start           start_coord    end             end_coord
0       0  498.0    [270, 195, 94, 70]  560.0   [350, 310, 126, 42]
1       1  307.0   [503, 291, 240, 85]  459.0   [402, 294, 126, 80]
2       2   45.0     [30, 57, 104, 46]  222.0    [29, 51, 235, 140]
3       3  141.0  [182, 234, 304, 185]  232.0  [120, 412, 312, 216]
4       4   33.0    [274, 65, 168, 98]   72.0    [338, 80, 138, 78]